
<!-- this is component to display a mail structure -->
<ion-row>

  <!-- col-01 
    to show avatar -->
  <ion-col class="align" size="2">
      <ion-avatar>
          <img src="../../../assets/icon/Agriculture.svg">
      </ion-avatar>
  </ion-col>

  <!-- col-02 
    to display name and description -->
  <ion-col size="8">
      <p> <b>{{content.name}}</b> <br>{{content.des}}</p>
  </ion-col>
    
  <!-- col-03 
    delete icon -->
  <ion-col class="align delete" size="2">
      <ion-icon name="trash" (click) = "deleteMail()"></ion-icon>
  </ion-col>

</ion-row>

    
  

